<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <script src="/socket.io/socket.io.js"></script>
    <title> Chat App</title>
  </head>
  <body>
    <style>
      .online{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
        background-color: grey;
        border: black 1px solid;
        align-items: center;
      }
    </style>
    <header>
      <h1> Chat</h1>
    </header>
 
    <section id="online" class="online">
      <h1>online users</h1>
      <section id="list"></section>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>
    <br>
    <section id="input_zone"> 
      <input id="username" placeholder="new name" class="vertical-align" type="text" />
      <button id="send_username" class="vertical-align" type="button">New</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>